.about {
    margin: 0;
    padding: 10px;
    
    h2 {
        margin: 10px 0 10px;
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    h2 {
        margin-top: 10px;
    }

    ul {
        font-size: 25px;
        li {
            margin: 5px 20px 5px;
        }
    }
}