.about {
    margin: 0;
    padding: 10px;
    
    h2 {
        margin: 10px 0 10px;
        font-size: 30px;
    }

    p {
        margin: 0;
        font-size: 25px;
    }

    h2 {
        margin-top: 10px;
    }

    ul {
        font-size: 25px;
        li {
            margin: 0px 20px 0px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}