.Tags {
  margin: 10px 0;

  .tagsWrapper {
    display: flex;
    margin: 10px 0 10px 10px;
  
    .currentColors {
      width: 40px;
      height: 30px;
      border-radius: 5px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      .removeIcon {
        opacity: 0;
        color: #fff;
      }
      
      &:hover .removeIcon {
        opacity: 1;
      }
    }
  }
  
  .btnAddColor {
    width: 32px;
    height: 32px;
    background-color: #eaecf0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
  
    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
  
  .colorPickerWrapper {
    width: 200px;
    position: absolute;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    transition: all .3s;
    pointer-events: none;
    opacity: 0;
    left: 30%;
  
    &.visible {
      pointer-events: unset;
      opacity: 1;
      left: 50%;
      transform: translate(-50%, 35px);
    }
  
    .btnCloseColorPicker {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 20px;
      transition: all .3s;
  
      &:hover {
        color: red;
      }
    }
  
    .tagsSubTitle {
      text-align: center;
    }
  
    .lineBreak {
      margin: 5px 0 10px;
    }
  
    .colorPicker {
      height: 30px;
      color: #fff;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 0;
      cursor: pointer;
      transition: all .3s;
      border-radius: 5px;
  
      &:hover {
        opacity: .7;
      }
  
      &:not(:last-child) {
        margin-bottom: 10px;
  
      }
      .iconCheck {
        margin: 5px;
      }
    }
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
  background-color: blue;
  }
  
  .orange {
    background-color: orange;
  }
  
  .violet {
    background-color: violet;
  }
}
