.container {
  display: flex;
  justify-content: center;
  .control-panel {
    margin: 40px 0 0;
    padding: 0 16px;
    width: 240px;
    height: 100vh;
    .list-tabs {
      .tab {
        display: flex;
        align-items: center;
        padding: 8px;
        color: #172b4d;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
        &.active {
          background-color: #e4f0f6;
          color: #0079bf;
        }
        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
        .icon {
          width: 12px;
          margin-right: 10px;
        }
      }
    }
  }
  .all-boards {
    margin: 40px 16px 0;
    width: 100%;
    max-width: 825px;
    min-width: 288px;
    height: 100vh;
    .block {
      .title {
        color: #172b4d;
      }
      .content {
        .list-boards {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin: 0;
          padding: 0;
          .item {
            width: 23%;
            height: 96px;
            margin: 1%;
            padding: 8px;
            color: #fff;
            line-height: 20px;
            border-radius: 3px;
            background-color: #97a0af;
            background-size: cover;
            background-position: 50%;
            cursor: pointer;
            .content-item {
              .title-item {
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
