.container {
  display: flex;
  justify-content: center;
  .control-panel {
    margin: 40px 0 0;
    padding: 0 16px;
    width: 240px;
    height: 100vh;
    .list-tabs {
      .tab {
        display: flex;
        align-items: center;
        padding: 8px;
        color: #172b4d;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
        &.active {
          background-color: #e4f0f6;
          color: #0079bf;
        }
        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
        .icon {
          width: 12px;
          margin-right: 10px;
        }
      }
    }
  }
}
