.container {
  display: flex;
  justify-content: center;
  .control-panel {
    margin: 40px 0 0;
    padding: 0 16px;
    min-width: 240px;
    .list-tabs {
      position: sticky;
      top: 20px;
      .tab {
        display: flex;
        align-items: center;
        padding: 8px;
        margin: 5px 0;
        color: #172b4d;
        font-weight: 700;
        border-radius: 4px;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &.active {
          background-color: #e4f0f6;
          color: #0079bf;
          &:hover {
            background-color: #e4f0f6;
            color: #0079bf;
          }
        }
        &:hover {
          background-color: rgba(9, 30, 66, 0.08);
        }
        .icon {
          width: 12px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .container {
    flex-direction: column;
    .control-panel {
      border-bottom: 1px double black;
      margin: 40px 0 0 0;
      padding: 0 16px 16px 16px;
      .list-tabs {
        position: static;
      }
    }
  }
}
