.search {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 300px;
    font-size: 14px;
    // background-color:#1890FF;
}

.link {
    margin: 0;
    padding: 5px;
    width: 100%;
    color: black;
    &:hover {
        // background-color: #e2dede;
        color: black;
    }
}