.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showPopup .4s ease-in;
  transition: all .4s;
  
  .contentWrapper {
    position: relative;
    max-width: 768px;
    min-width: 300px;
    background-color: #f4f5f7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

    .cardTitleWrapper {
      display: flex;
      align-items: center;

      .cardIcon {
        align-self: flex-start;
        margin: 9px 5px 0 0;
        font-size: 20px;
      }
    }

    .cardTitle {
      transition: all .3s;
      cursor: pointer;
      word-break: break-all;

      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
      }
    }

    .deleteIcon {
      font-size: 20px;
      color: red;
      margin-bottom: 5px;
      border: 1px solid red;
      background-color: #f4f5f7;
      border-radius: 3px;
      padding: 2px;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: .6;
      }
    }

    .cardTitleInput {
      display: flex;
      width: 100%;
      margin: 5px 0 10px;
      padding: 0 5px;
    }

    .btnClose {
      position: absolute;
      background-color: #f4f5f7;
      right: 5px;
      width: 30px;
      height: 25px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

@keyframes showPopup {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
