.users-list-selected {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  .item {
    display: flex;
    align-items: center;
    margin: 5px 3px 0 3px;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    color: #172b4d;
    background-color: rgba(9, 30, 66, 0.05);
    cursor: pointer;
    &__name {
      padding-right: 3px;
      margin: 0;
      line-height: 16px;
      max-width: 180px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__close {
      font-size: 13px;
      transition: 0.2s ease-in-out;
      &:hover {
        color: #000000;
        transform: scale(1.02);
      }
    }
  }
}
