.boardList {
    .ant-drawer-body {
        padding: 0;
    }
    
    .ant-drawer-title {
        text-align: center;
    }
    
    .ant-drawer-content-wrapper {
        width: 300px !important;
    }
}
