.wrapper {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    height: 550px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .img {
        margin-left: 10px;
        width: 650px;
        border-radius: 10px;
    }
}

.text {
    width: 50%;
    .title {
        margin: 10px 0 10px;
        font-size: 40px;
    }

    .p {
        margin: 0;
        font-size: 25px;
    }

    .list {
        font-size: 25px;
        li {
            margin: 0px 20px 0px;
        }
    }
}

.carousel {
    width: 100%;
}

.buttons {
    // align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn_login {
        margin-right: 10px;
        background: rgb(192, 191, 191);
        color: black;
        border: none;
        
        &:hover {
            background: rgb(160, 160, 160);
        }
    }

    .btn_signup {
        margin-right: 10px;
        background: rgb(105, 204, 113);
        color: rgb(250, 250, 250);
        border: none;
        font-weight: bold;
        
        &:hover {
            background: rgb(60, 199, 72);
        }
    }
}
